<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzk.bitbyte.mapper.FavoriteMapper">
  <resultMap id="BaseResultMap" type="com.zzk.bitbyte.po.Favorite">
    <id column="favorite_id" jdbcType="VARCHAR" property="favoriteId" />
    <result column="favorite_article" jdbcType="VARCHAR" property="favoriteArticle" />
    <result column="favorite_time" jdbcType="TIMESTAMP" property="favoriteTime" />
    <result column="favorite_group" jdbcType="VARCHAR" property="favoriteGroup" />
    <result column="createAt" jdbcType="TIMESTAMP" property="createat" />
    <result column="updateAt" jdbcType="TIMESTAMP" property="updateat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    favorite_id, favorite_article, favorite_time, favorite_group, createAt, updateAt
  </sql>
  <select id="selectByExample" parameterType="com.zzk.bitbyte.po.FavoriteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from favorite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from favorite
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzk.bitbyte.po.FavoriteExample">
    delete from favorite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzk.bitbyte.po.Favorite">
    insert into favorite (favorite_id, favorite_article, favorite_time, 
      favorite_group, createAt, updateAt
      )
    values (#{favoriteId,jdbcType=VARCHAR}, #{favoriteArticle,jdbcType=VARCHAR}, #{favoriteTime,jdbcType=TIMESTAMP}, 
      #{favoriteGroup,jdbcType=VARCHAR}, #{createat,jdbcType=TIMESTAMP}, #{updateat,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzk.bitbyte.po.Favorite">
    insert into favorite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favoriteId != null">
        favorite_id,
      </if>
      <if test="favoriteArticle != null">
        favorite_article,
      </if>
      <if test="favoriteTime != null">
        favorite_time,
      </if>
      <if test="favoriteGroup != null">
        favorite_group,
      </if>
      <if test="createat != null">
        createAt,
      </if>
      <if test="updateat != null">
        updateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favoriteId != null">
        #{favoriteId,jdbcType=VARCHAR},
      </if>
      <if test="favoriteArticle != null">
        #{favoriteArticle,jdbcType=VARCHAR},
      </if>
      <if test="favoriteTime != null">
        #{favoriteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteGroup != null">
        #{favoriteGroup,jdbcType=VARCHAR},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzk.bitbyte.po.FavoriteExample" resultType="java.lang.Long">
    select count(*) from favorite
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update favorite
    <set>
      <if test="record.favoriteId != null">
        favorite_id = #{record.favoriteId,jdbcType=VARCHAR},
      </if>
      <if test="record.favoriteArticle != null">
        favorite_article = #{record.favoriteArticle,jdbcType=VARCHAR},
      </if>
      <if test="record.favoriteTime != null">
        favorite_time = #{record.favoriteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.favoriteGroup != null">
        favorite_group = #{record.favoriteGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.createat != null">
        createAt = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateat != null">
        updateAt = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update favorite
    set favorite_id = #{record.favoriteId,jdbcType=VARCHAR},
      favorite_article = #{record.favoriteArticle,jdbcType=VARCHAR},
      favorite_time = #{record.favoriteTime,jdbcType=TIMESTAMP},
      favorite_group = #{record.favoriteGroup,jdbcType=VARCHAR},
      createAt = #{record.createat,jdbcType=TIMESTAMP},
      updateAt = #{record.updateat,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzk.bitbyte.po.Favorite">
    update favorite
    <set>
      <if test="favoriteArticle != null">
        favorite_article = #{favoriteArticle,jdbcType=VARCHAR},
      </if>
      <if test="favoriteTime != null">
        favorite_time = #{favoriteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="favoriteGroup != null">
        favorite_group = #{favoriteGroup,jdbcType=VARCHAR},
      </if>
      <if test="createat != null">
        createAt = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateat != null">
        updateAt = #{updateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzk.bitbyte.po.Favorite">
    update favorite
    set favorite_article = #{favoriteArticle,jdbcType=VARCHAR},
      favorite_time = #{favoriteTime,jdbcType=TIMESTAMP},
      favorite_group = #{favoriteGroup,jdbcType=VARCHAR},
      createAt = #{createat,jdbcType=TIMESTAMP},
      updateAt = #{updateat,jdbcType=TIMESTAMP}
    where favorite_id = #{favoriteId,jdbcType=VARCHAR}
  </update>
</mapper>