<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzk.bitbyte.mapper.FavoriteGroupMapper">
  <resultMap id="BaseResultMap" type="com.zzk.bitbyte.po.FavoriteGroup">
    <id column="favorite_group_id" jdbcType="VARCHAR" property="favoriteGroupId" />
    <result column="favorite_user" jdbcType="VARCHAR" property="favoriteUser" />
    <result column="favorite_group_name" jdbcType="VARCHAR" property="favoriteGroupName" />
    <result column="favorite_create_time" jdbcType="TIMESTAMP" property="favoriteCreateTime" />
    <result column="createAt" jdbcType="TIMESTAMP" property="createat" />
    <result column="updateAt" jdbcType="TIMESTAMP" property="updateat" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    favorite_group_id, favorite_user, favorite_group_name, favorite_create_time, createAt, 
    updateAt
  </sql>
  <select id="selectByExample" parameterType="com.zzk.bitbyte.po.FavoriteGroupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from favorite_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from favorite_group
    where favorite_group_id = #{favoriteGroupId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from favorite_group
    where favorite_group_id = #{favoriteGroupId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzk.bitbyte.po.FavoriteGroupExample">
    delete from favorite_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzk.bitbyte.po.FavoriteGroup">
    insert into favorite_group (favorite_group_id, favorite_user, favorite_group_name, 
      favorite_create_time, createAt, updateAt
      )
    values (#{favoriteGroupId,jdbcType=VARCHAR}, #{favoriteUser,jdbcType=VARCHAR}, #{favoriteGroupName,jdbcType=VARCHAR}, 
      #{favoriteCreateTime,jdbcType=TIMESTAMP}, #{createat,jdbcType=TIMESTAMP}, #{updateat,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zzk.bitbyte.po.FavoriteGroup">
    insert into favorite_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="favoriteGroupId != null">
        favorite_group_id,
      </if>
      <if test="favoriteUser != null">
        favorite_user,
      </if>
      <if test="favoriteGroupName != null">
        favorite_group_name,
      </if>
      <if test="favoriteCreateTime != null">
        favorite_create_time,
      </if>
      <if test="createat != null">
        createAt,
      </if>
      <if test="updateat != null">
        updateAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="favoriteGroupId != null">
        #{favoriteGroupId,jdbcType=VARCHAR},
      </if>
      <if test="favoriteUser != null">
        #{favoriteUser,jdbcType=VARCHAR},
      </if>
      <if test="favoriteGroupName != null">
        #{favoriteGroupName,jdbcType=VARCHAR},
      </if>
      <if test="favoriteCreateTime != null">
        #{favoriteCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzk.bitbyte.po.FavoriteGroupExample" resultType="java.lang.Long">
    select count(*) from favorite_group
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update favorite_group
    <set>
      <if test="record.favoriteGroupId != null">
        favorite_group_id = #{record.favoriteGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.favoriteUser != null">
        favorite_user = #{record.favoriteUser,jdbcType=VARCHAR},
      </if>
      <if test="record.favoriteGroupName != null">
        favorite_group_name = #{record.favoriteGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.favoriteCreateTime != null">
        favorite_create_time = #{record.favoriteCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createat != null">
        createAt = #{record.createat,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateat != null">
        updateAt = #{record.updateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update favorite_group
    set favorite_group_id = #{record.favoriteGroupId,jdbcType=VARCHAR},
      favorite_user = #{record.favoriteUser,jdbcType=VARCHAR},
      favorite_group_name = #{record.favoriteGroupName,jdbcType=VARCHAR},
      favorite_create_time = #{record.favoriteCreateTime,jdbcType=TIMESTAMP},
      createAt = #{record.createat,jdbcType=TIMESTAMP},
      updateAt = #{record.updateat,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzk.bitbyte.po.FavoriteGroup">
    update favorite_group
    <set>
      <if test="favoriteUser != null">
        favorite_user = #{favoriteUser,jdbcType=VARCHAR},
      </if>
      <if test="favoriteGroupName != null">
        favorite_group_name = #{favoriteGroupName,jdbcType=VARCHAR},
      </if>
      <if test="favoriteCreateTime != null">
        favorite_create_time = #{favoriteCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createat != null">
        createAt = #{createat,jdbcType=TIMESTAMP},
      </if>
      <if test="updateat != null">
        updateAt = #{updateat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where favorite_group_id = #{favoriteGroupId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzk.bitbyte.po.FavoriteGroup">
    update favorite_group
    set favorite_user = #{favoriteUser,jdbcType=VARCHAR},
      favorite_group_name = #{favoriteGroupName,jdbcType=VARCHAR},
      favorite_create_time = #{favoriteCreateTime,jdbcType=TIMESTAMP},
      createAt = #{createat,jdbcType=TIMESTAMP},
      updateAt = #{updateat,jdbcType=TIMESTAMP}
    where favorite_group_id = #{favoriteGroupId,jdbcType=VARCHAR}
  </update>
</mapper>